nav{
    background-color: lightgrey;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}

.logo{
    height: 50px;
    float: left;
    font-family: 'Poppins', sans-serif;

}

.nav-con{
    height: 50px;
    margin-top: -13px;
    margin-right: 40px;
}

nav ul{
    list-style: none;
}

nav li{
    float: left;
    font-size: 18px;
    margin-left: 40px;
}

.search-bar{
    width: 255px;
    height: 40px;
    float: right;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid black;
    border-radius: 25px;
    padding-top: 5px;
    padding-left: 10px;
    color: gray;
}

header{
    width: 100;
    height: 800px;
    background-color: lightgrey;
    padding-top: 150px;
    padding-left: 10%;
    padding-right: 10%;
}

header h3{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
}

header h1{
    font-size: 72px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 70px;
}

.button{
float: left;
margin-top: 10px;
margin-right: 10px;
}

.play-btn{
    width: 225px;
    height: 70px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 35px;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;
    padding-top: 15px;

}

.play-btn:hover{
    cursor: pointer;
    background-color: white;
    color:black ;
}

.btn{
    width: 225px;
    height: 70px;
    background-color: lightgrey;
    color: black;
    float: left !important;
    text-align: center;
    border-radius: 35px;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;
    padding-top: 15px;

}


